@charset "UTF-8";
@media (min-width: 0px) {
  .btn {
    cursor: pointer;
    &--more {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: em(223);
      height: em(86);
      background-color: $blue;
      p {
        color: $white;
        font-size: em(16);
        letter-spacing: 2px;
        margin-right: em(50);
        text-transform: uppercase;
      }
      &::after {
        content: '';
        position: absolute;
        display: block;
        width: em(50);
        height: 2px;
        top: 50%;
        right: em(20);
        background-color: $white;
      }
      &:hover {
        &::after {
          animation: moveRight 1.5s infinite linear;
        }
      }
    }
  }
}
@media (min-width: 375px) {
}
@media (min-width: 768px) {
}
