@charset "UTF-8";
@media (min-width: 0px) {
  .projects {
    width: 100%;
    padding: em(30) em(0);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url('./assets/projects-bg.png') no-repeat center/ auto 100%;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    &__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 90%;
      margin-top: em(50);
      text-align: left;
      color: $white;
      p {
        font-size: em(16);
        line-height: 1.5;
        letter-spacing: 1px;
        text-align: center;
      }
    }
    &__img {
      position: relative;
      display: inline-flex;
      margin-top: em(60);
      margin-right: em(0);
      img {
        width: 100%;
      }
      .btn {
        z-index: 9;
        position: absolute;
        width: em(180);
        height: em(100);
        bottom: em(-20);
        right: em(-15);
        padding-bottom: em(10);
        line-height: 1.25;
        &::after {
          top: unset;
        }
        p {
          margin-right: 30%;
        }
      }
    }
    &__container {
      width: 100%;
    }
    &__title {
      padding: em(16) 0;
      position: relative;
      display: inline;
      font-size: em(32);
      color: $white;
      margin: em(20) 0;
      font-weight: 700;
      letter-spacing: em(3);
      &::before {
        right: 0;
      }
      &::after {
        position: absolute;
        width: 100%;
        top: 100%;
        left: em(10);
        height: em(4);
        background-color: $blue;
      }
      span {
        top: 0%;
        position: absolute;
        z-index: 9;
      }
    }
    &__label {
      font-size: em(16);
      font-weight: 700;
      letter-spacing: em(2);
    }
    .carousel {
      width: 100%;
      &__item {
        position: relative;
        min-height: 200px;
        width: 100%;
        font-size: 20px;
        padding-bottom: em(50);
        padding: em(20);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        overflow: visible;
      }

      &__prev,
      &__next {
        margin-top: 50%;
        width: 50px;
        height: 50px;
        border-radius: 100%;
        background-color: $blue;
        color: $white;
      }
      &__prev {
        left: em(-10);
      }
      &__next {
        right: em(-10);
      }
    }
  }
}
@media (min-width: 375px) {
}
@media (min-width: 768px) {
  .projects {
    padding: em(200) em(100);
    background: url('./assets/projects-bg.png') no-repeat center/100% auto;
    &__content {
      width: em(450);
      margin-top: 0;
      p {
        text-align: left;
      }
    }
    &__img {
      margin-top: 0;
      margin-right: em(60);
      img {
        width: em(450);
      }
      .btn {
        bottom: em(-60);
        right: em(-50);
        width: em(250);
        height: em(120);
      }
      p {
        margin-right: 0%;
      }
    }
    &__title {
      &::before {
        right: -5%;
      }
      &::after {
        top: em(14);
        left: em(20);
      }
    }
    .carousel {
      &__item {
        padding: 0;
        flex-direction: row;
        padding-bottom: em(50);
      }
      &__prev,
      &__next {
        margin-top: 0%;
      }
      &__prev {
        left: em(-30);
      }
      &__next {
        right: em(-30);
      }
    }
  }
}
