@charset "UTF-8";
@media (min-width: 0px) {
  .quote {
    width: 90%;
    padding: em(80) em(50) em(150) em(50);
    position: absolute;
    left: 0;
    bottom: em(-300);
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: em(50);
    border-top-left-radius: 0;
    background: url('./assets/quote-bg.png') no-repeat top/auto 100%;
    &__intro {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: $white;
      h4 {
        text-align: center;
        font-size: em(20);
        font-weight: 700;
        letter-spacing: 2px;
        text-transform: uppercase;
        line-height: 2;
      }
      p {
        display: inline;
        text-align: center;
        font-size: em(16);
        font-style: italic;
        letter-spacing: 2px;
        white-space: nowrap;
      }
    }
    &__head {
      width: em(200);
      margin-bottom: em(30);
    }

    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin: em(30) 0;
      p {
        color: $white;
        text-align: left;
        font-size: em(20);
        line-height: 2;
        letter-spacing: 2px;
      }
      .highlight {
        color: $yellow;
      }
    }
    &__icon {
      cursor: pointer;
      width: em(90);
      height: em(90);
      margin-bottom: em(15);
      transition: 1s;
      &:hover {
        transform: rotate(-15deg);
      }
    }
  }
}
@media (min-width: 375px) {
}
@media (min-width: 768px) {
  .quote {
    padding: em(80) em(150) em(150) em(80);
    flex-direction: row;
    &__intro {
      margin-right: em(50);
    }
  }
}
